@font-face {
  font-family: "Calculator";
  src: url(../src/fonts/Calculator.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
